body {
    font-family: Arial, sans-serif;
    background: #f2f4f8;}

.container {
    width: 1024px;
    margin: auto;
    background: white;
    padding: 20px;
    border: 3px solid black;}

h1 {
    text-align: center;
    color: #2c3e50;}

section {
    border: 1rem solid #ccc;
    padding: 15px;
    margin-bottom: 20px;}

label {
    display: block;
    margin-top: 10px;}

input, textarea, select {
    width: 80%;
    padding: 8px;
    margin-top: 5px;}

button {
    background: #3498db;
    color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius:  30%;
    cursor: pointer;}

button:hover {
    background: #2980b9;}

#message {
    margin-top: 15px;
    font-weight: bold;}
    